*{
    margin: 0;
    padding: 0;
}
.sky{
    background-image: url(background.jpg);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    
}

body{
    overflow: hidden;
}
.trees{
    background-image: url(trees.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: -133px;
    
}
.track{
    background-image: url(track.png);
    width: 400vw;
    background-repeat: repeat-x;
    height: 40vh;
    top: 70vh;
    position: absolute;
    animation: carmove linear .13s infinite;
}
.car{
    background-image: url(car_body.png);
    height: 100px;
    background-repeat: no-repeat;
    width: 330px;
    background-size: cover;
    position: absolute;
    left: 220px;
    bottom: 29.5vh;
    animation: shake linear .4s infinite;
}
.wheel1 img{
    width: 72px;
    left: 39px;
    top: 33px;
    position: relative;
    animation: wheelrotation linear .4s infinite;
}
.wheel2 img{
    width: 72px;
    left: 216px;
    top: -38px;
    position: relative;
    animation: wheelrotation linear .4s infinite;
}

@keyframes wheelrotation{

    100%{
        transform: rotate(360deg);
    }
}

@keyframes carmove{

    100%{
        transform:translateX(-500vh);
    }
}

@keyframes shake {

    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}


